@charset "ISO-8859-1";
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #3C4551;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #E15050;
  color: white;
}
.img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 10%;}
  .img1{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  }
  .topnav-right {
  float: right;
}

.atag{
	font-size: 28px;
	color:#2B3B4E;
}
.heading1{
	font-weight: bold;
	color: #3C4551;
	padding: 70px 0;
  border: 3px solid green;
  text-align: center;
  
	
}
.heading2{
	font-weight: bold;
	color: #3C4551;
    display: block;
    margin-left: auto;
    margin-right: auto;
	
}
.table1{
	display: block;
    margin-left: auto;
    margin-right: auto
}
input[type=submit] {
  background-color: #E15050;
  color: white;
  width:20%;
  font-weight: bold;
}


  

